{% extends 'base.html' %}
{% load static %}
	
 {% block content %}
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                        	<h2 class="bradcaump-title">My Account</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" href="index.html">Home</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb_item active">My Account</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
		<!-- Start My Account Area -->
		<section class="my_account_area pt--80 pb--55 bg--white">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-12">
						<div class="my__account__wrapper">
						
							<h3 class="account__title">Login</h3>
							<form action="login" method="post">
							{% csrf_token %}
								<div class="account__form">
								
									<div class="input__box">
										<label>Email address <span>*</span></label>
										<input type="email" id="inputEmail" >
									</div>
									<div class="input__box">
										<label>Password<span>*</span></label>
										<input type="password" id="inputPassword">
									</div>
									<div class="form__btn">
										<button class="btn btn-success btn-block" id="loginbtn" type="button"><i class="fas fa-sign-in-alt"></i>Login</button>

										<label class="label-for-checkbox">
											<input id="rememberme" class="input-checkbox" name="rememberme" value="forever" type="checkbox">
											<span>Remember me</span>
										</label>
									</div>
									<a class="forget_pass" href="#">Lost your password?</a>
								</div>
							</form>
							<form class="form-signin" accept="#">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
            <div class="social-login">
              
                <button class="btn facebook-btn social-btn" type="button" id="facebooklogin"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
                <button class="btn google-btn social-btn" type="button" id="googleLogin"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
            </div>


			
            <p style="text-align:center"> OR  </p>
            <input type="text" id="inputPhone" class="form-control" placeholder="PHONE" required="" autofocus="">
            <div id="recaptcha-container"></div>
            <button class="btn btn-success btn-block" type="button" id="phoneloginbtn"><i class="fas fa-sign-in-alt"></i> SEND OTP</button>
            <input type="otp" id="inputOtp" class="form-control" placeholder="OTP" required="">
            <button class="btn btn-success btn-block" type="button" id="verifyotp"><i class="fas fa-sign-in-alt"></i> VERIFY OTP</button>




			</form>
						</div>
					</div>
					<div class="col-lg-6 col-12">
						<div class="my__account__wrapper">
							<h3 class="account__title">Register</h3>
							 <form action="#" class="form-signup">
							{% csrf_token %}
								<div class="account__form">
									
									<div class="customer_details">
										<div class="customar__field">
											<div class="margin_between">
												<div class="input_box space_between">
													<label style="font-size:12px;">First name <span>*</span></label>
													<input type="text">
												</div>
												<div class="input_box space_between">
													<label style="font-size:12px;">last name <span>*</span></label>
													<input type="text">
												</div>
											</div>
										</div>
									</div>
										
									
									<div class="input__box">
										<label>Email address <span>*</span></label>
										<input  type="email" id="useremail">
									</div>
									<div class="input__box">
										<label>Password<span>*</span></label>
										<input type="password" id="userpass">
									</div>
									<div class="input__box">
										<label>Confirm Password<span>*</span></label>
										<input name="password2" id="password2" type="password">
									</div>
									<div class="form__btn">
										 <button class="btn btn-primary btn-block" type="button" id="signupbtn"><i class="fas fa-user-plus"></i> Sign Up</button>
									</div><br>
									<div class="form__btn">
										<a href="{% url 'social:begin' 'facebook' %}"><input type="button" id="submit" value="login with facebook" value="Register"></a>
									</div><br>
									<div class="form__btn">
										<a href="{% url "social:begin" "google-oauth2" %}"><input type="button" id="submit" value="login with Google" value="Register"></a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End My Account Area -->




		<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

  
    <title>Bootstrap 4 Login/Register Form</title>
</head>
<body>
    
    <script>
function toggleResetPswd(e){
    e.preventDefault();
    $('#logreg-forms .form-signin').toggle() // display:block or none
    $('#logreg-forms .form-reset').toggle() // display:block or none
}

function toggleSignUp(e){
    e.preventDefault();
    $('#logreg-forms .form-signin').toggle(); // display:block or none
    $('#logreg-forms .form-signup').toggle(); // display:block or none
}

$(()=>{
    // Login Register Form
    $('#logreg-forms #forgot_pswd').click(toggleResetPswd);
    $('#logreg-forms #cancel_reset').click(toggleResetPswd);
    $('#logreg-forms #btn-signup').click(toggleSignUp);
    $('#logreg-forms #cancel_signup').click(toggleSignUp);
});

</script>

    </p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-analytics.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/7.19.0/firebase-auth.js"></script>


<script>
  // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyCywNPkHwl4_6YSFhKhheVVUHqPqKQE4mI",
        authDomain: "demobohocompany-1e963.firebaseapp.com",
        databaseURL: "https://demobohocompany-1e963.firebaseio.com",
        projectId: "demobohocompany-1e963",
        storageBucket: "demobohocompany-1e963.appspot.com",
        messagingSenderId: "352737904067",
        appId: "1:352737904067:web:9dd4b317d44fe830cbe976",
        measurementId: "G-X0H3PYPFYH"
    };
  // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();

    var signupbtn=document.getElementById("signupbtn");
    var emailsignup=document.getElementById("useremail");
    var passswordsignup=document.getElementById("userpass");


  //================Signup With Email and Password==========================
    signupbtn.onclick=function(){
        signupbtn.disabled=true;
        signupbtn.textContent="Registering Your Account! Please Wait";
        firebase.auth().createUserWithEmailAndPassword(emailsignup.value,passswordsignup.value).then(function(response){
        sendingVerifyEmail(signupbtn);
        console.log(response);
      })
        .catch(function(error){
            signupbtn.disabled=false;
            signupbtn.textContent="Sign Up";
            console.log(error);
        })


    };

    function sendingVerifyEmail(button){
        firebase.auth().currentUser.sendEmailVerification().then(function(response){
            signupbtn.disabled=false;
            signupbtn.textContent="Sign Up S";

            console.log(response);
        })
        .catch(function(error){
            signupbtn.disabled=false;
            signupbtn.textContent="Sign Up S";

            console.log(error);
        })
    }
  //================End Signup With Email and Password======================




    //================first screen======================






  //==========================Sign in With Email and Password============================

    var loginemail=document.getElementById("inputEmail");
    var loginpassword=document.getElementById("inputPassword");
    var loginbtn=document.getElementById("loginbtn");


    loginbtn.onclick=function(){
    loginbtn.disabled=true;
    loginbtn.textContent="Logging In Please Wait..";
        firebase.auth().signInWithEmailAndPassword(loginemail.value,loginpassword.value).then(function(response){
            console.log(response);
            loginbtn.disabled=false;
            loginbtn.textContent="Sign In"
            var userobj=response.user;
            var token=userobj.xa;
            var provider="email";
            var email=loginemail.value;
            if(token!=null && token!=undefined && token!=""){
            sendDatatoServerPhp(email,provider,token,email);
            }
       })
        .catch(function(error){
           console.log(error);
           loginbtn.disabled=false;
        loginbtn.textContent="Sign In"

       })
   }
  //======================Sign With Email and Password


   //===================Saving Login Details in My Server Using AJAX================
    function sendDatatoServerPhp(email,provider,token,username){

        var xhr = new XMLHttpRequest();
        //xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function() {
        if(this.readyState === 4) {
            console.log(this.responseText);
            if(this.responseText=="login_success"){
                alert("Login Successfull");
                location='about';
            }
            else if(this.responseText=="Please Verify Your Email to Get Login"){
                alert("Please Verify Your Email to Login")
            }
            else{
                alert("Error in Login");
            }
        }
        });

        xhr.open("POST", "http://127.0.0.1:8000/accounts/firebase_login_save",true);
        xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
        xhr.send("email="+email+"&provider="+provider+"&username="+username+"&token="+token);
   }
   //===========================End Saving Details in My Server=======================
   //=========================Login With Phone==========================
   var loginphone=document.getElementById("phoneloginbtn");
   var phoneinput=document.getElementById("inputPhone");
   var otpinput=document.getElementById("inputOtp");
   var verifyotp=document.getElementById("verifyotp");

   loginphone.onclick=function(){
   
    window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container', {
        'size': 'normal',
        'callback': function(response) {
            // reCAPTCHA solved, allow signInWithPhoneNumber.
            // ...
        },
        'expired-callback': function() {
            // Response expired. Ask user to solve reCAPTCHA again.
            // ...
        }
    });
    var cverify=window.recaptchaVerifier;

    firebase.auth().signInWithPhoneNumber(phoneinput.value,cverify).then(function(response){
        console.log(response);
        window.confirmationResult=response;
        }).catch(function(error){
            console.log(error);
        })
    }

    verifyotp.onclick=function(){
        confirmationResult.confirm(otpinput.value).then(function(response){
            console.log(response);
            var userobj=response.user;
            var token=userobj.xa;
            var provider="phone";
            var email=phoneinput.value;
            if(token!=null && token!=undefined && token!=""){
            sendDatatoServerPhp(email,provider,token,email);
            }
        })
        .catch(function(error){
           console.log(error);
        })
    }
   //=================End Login With Phone=========================

   ///=================Login With google===========================
    var googleLogin=document.getElementById("googleLogin");

    googleLogin.onclick=function(){
        var provider=new firebase.auth.GoogleAuthProvider();

        firebase.auth().signInWithPopup(provider).then(function(response){
           var userobj=response.user;
            var token=userobj.xa;
            var provider="google";
            var email=userobj.email;
            if(token!=null && token!=undefined && token!=""){
            sendDatatoServerPhp(email,provider,token,userobj.displayName);
            }

           console.log(response);
       })
        .catch(function(error){
           console.log(error);
       })


    }
    //=======================End Login With Google==================
    //======================Login With Facebook==========================
    var facebooklogin=document.getElementById("facebooklogin");
    facebooklogin.onclick=function(){
    var provider=new firebase.auth.FacebookAuthProvider();

firebase.auth().signInWithPopup(provider).then(function(response){
    var userobj=response.user;
    var token=userobj.xa;
    var provider="facebook";
    var email=userobj.email;
    if(token!=null && token!=undefined && token!=""){
    sendDatatoServerPhp(email,provider,token,userobj.displayName);
    }

    console.log(response);
})
.catch(function(error){
    console.log(error);
})


   }
   //======================End Login With Facebook==========================
</script>
		
	{% endblock %}