<div>

	<div class="Click-here" style="width:fit-content;flaot:rightfloat: right;right: 23px;border: 1px solid #db8173;border-radius: 3px;position:absolute;right:12px;padding: 1px 16px;">Apply</div>        

	<br>
	<div class="custom-model-main">
		<div class="custom-model-inner"> 
			<div>       
				<div class="close-btn">×</div>
			</div>
		
			<div class="custom-model-wrap">
				<div class="pop-up-content-wrap">

			

					<div class="label">Contact Details</div>
					<table>
						<tr>
							<td >
								<div class="formfield" id="firstnamefield">
									<input type="text"  name="name" id="name" required>
									<label for="name" placeholder="firstname" >Full Name</label>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="formfield" id="firstnamefield">
									<input type="text" name="mobilenumber" id="mobilenumber" required>
									<label alt="Prénom" for="mobilenumber" placeholder="mobile no" >Mobile no</label>
								</div>
							</td>
						</tr>
					
					</table>    
							
					<div class="label">Address details</div>
				

					<table>

						<tr>
							<td>
								<div class="formfield" id="firstnamefield">
									<input type="text" style="border: 1px solid lightgrey;width: 90%;height: 100%;" class="number" name="pincode" value="njbn" id="pincode" required>
									<label alt="Prénom" for="Pincode"  value="njbn">Pincode</label>
									</div>
							</td>
						</tr>

						<tr>
							<td>
								<div class="formfield" id="firstnamefield">
								
									<input type="text" name="address_full" id="address_full" required>
									<label alt="Prénom" for="address_full" >Full Address</label>
								</div>
							</td>
						</tr>
					<tr>
							<td>
								<div class="formfield" id="firstnamefield">
								<input type="text" name="locality" id="locality" required>
								<label alt="Prénom" for="locality" >locality/Town</label>
								</div>
							</td>    
						</tr>

						<tr>
							<td>
								<div class="formfield" id="firstnamefield">
									<input type="text" name="district" id="district" value="Akola" required>
									<label alt="Prénom" for="district" >District</label>
								</div>
							</td>    
						</tr>

						<tr>
							<td>
								<div class="formfield" id="firstnamefield">
									<input type="text" name="addresstype" id="address_type"  required>
									<label alt="Prénom" for="address_type" >Address Type</label>
								</div>
							</td>    
						</tr>

					</table>
					


					<div class="field">
						<input type="submit" style="height:37px;" value="Next" >
					</div>
				
				</div>
			</div>
		</div>  
	</div>  
</div> 