<html>
<head>
</head>
<body>

<!--  mount carmel     -->

<div class="modal fade" id="myModalmountcarmel" role="dialog">
    <div class="modal-dialog modal-lg">

    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">select category</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <form name="form" id="form"  method="POST">
                <div>		
                    <select id="school_standard" name="standard">
                        <option value="hide">-- Standard --</option>
                        <option value="All" rel="icon-temperature">All</option>
                       
                        <option value="1st" rel="icon-temperature">1st</option>
                        <option value="2nd">2nd</option>
                        <option value="3rd">3rd</option>
                        <option value="4th">4th</option>
                        <option value="5th">5th</option>
                        <option value="6th">6th</option>
                        <option value="7th">7th</option>
                        <option value="8th">8th</option>
                        <option value="9th">9th</option>
                        <option value="10th">10th</option>
                        
                    </select>

                                
                    
                    <select id="school_pattern" name="pattern">
                        <option value="hide">-- Pattern --</option>
                        <option value="all" rel="icon-temperature">All</option>
                        <option value="MSBT">MSBT</option>
                        <option value="CBSC">CBSC</option>
                    </select> 

                    

                
                    <input type="hidden" id="school" name="school" value="Mount Carmel" />
                    <input type="button"  class="btn btn-outline-dark" onclick="school_books();" value="submit" />


                </div>
            </form>
            </div>

        </div>

    </div>
</div>






<!--  noel    -->

<div class="modal fade" id="myModalnoel" role="dialog">
    <div class="modal-dialog modal-lg">

    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">select category</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <form name="form" id="form"  method="POST">
                <div>		
                    <select id="school_standard" name="standard">
                        <option value="hide">-- Standard --</option>
                        <option value="All" rel="icon-temperature">All</option>
                       
                        <option value="1st" rel="icon-temperature">1st</option>
                        <option value="2nd">2nd</option>
                        <option value="3rd">3rd</option>
                        <option value="4th">4th</option>
                        <option value="5th">5th</option>
                        <option value="6th">6th</option>
                        <option value="7th">7th</option>
                        <option value="8th">8th</option>
                        <option value="9th">9th</option>
                        <option value="10th">10th</option>
                        
                    </select>

                                
                    
                    <select id="school_pattern" name="pattern">
                        <option value="hide">-- Pattern --</option>
                        <option value="all" rel="icon-temperature">All</option>
                        <option value="MSBT">MSBT</option>
                        <option value="CBSC">CBSC</option>
                    </select> 

                    

                
                    <input type="hidden" id="field"  value="books_school" />
                    <input type="hidden" id="school" name="school" value="noel" />
                    <input type="button"  class="btn btn-outline-dark" onclick="school_books();" value="submit" />


                </div>
            </form>
            </div>

        </div>

    </div>
</div>




<!--  school of scollars  -->

<div class="modal fade" id="myModalschoolofscollars" role="dialog">
    <div class="modal-dialog modal-lg">

    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">select category</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <form name="form" id="form"  method="POST">
                <div>		
                    <select id="school_standard" name="standard">
                        <option value="hide">-- Standard --</option>
                        <option value="All" rel="icon-temperature">All</option>
                       
                        <option value="1st" rel="icon-temperature">1st</option>
                        <option value="2nd">2nd</option>
                        <option value="3rd">3rd</option>
                        <option value="4th">4th</option>
                        <option value="5th">5th</option>
                        <option value="6th">6th</option>
                        <option value="7th">7th</option>
                        <option value="8th">8th</option>
                        <option value="9th">9th</option>
                        <option value="10th">10th</option>
                        
                    </select>

                                
                    
                    <select id="school_pattern" name="pattern">
                        <option value="hide">-- Pattern --</option>
                        <option value="all" rel="icon-temperature">All</option>
                        <option value="MSBT">MSBT</option>
                        <option value="CBSC">CBSC</option>
                    </select> 

                    

                
                    <input type="hidden" id="field"  value="books_school" />
                    <input type="hidden" id="school" name="school" value="school of scholars" />
                    <input type="button"  class="btn btn-outline-dark" onclick="school_books();" value="submit" />


                </div>
            </form>
            </div>

        </div>

    </div>
</div>




<!--  prabath kids     -->

<div class="modal fade" id="myModalprabath" role="dialog">
    <div class="modal-dialog modal-lg">

    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">select category</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
           
                <div>		
                    <select id="school_standard" name="standard">
                        <option value="hide">-- Standard --</option>
                        <option value="All" rel="icon-temperature">All</option>
                       
                        <option value="1st" rel="icon-temperature">1st</option>
                        <option value="2nd">2nd</option>
                        <option value="3rd">3rd</option>
                        <option value="4th">4th</option>
                        <option value="5th">5th</option>
                        <option value="6th">6th</option>
                        <option value="7th">7th</option>
                        <option value="8th">8th</option>
                        <option value="9th">9th</option>
                        <option value="10th">10th</option>
                        
                    </select>

                                
                    
                    <select id="school_pattern" name="pattern">
                        <option value="hide">-- Pattern --</option>
                        <option value="all" rel="icon-temperature">All</option>
                        <option value="MSBT">MSBT</option>
                        <option value="CBSC">CBSC</option>
                    </select> 

                    

                
                    <input type="hidden" id="field"  value="books_school" />
                    <input type="hidden" id="school" name="school" value="prabath kids" />
                    <input type="button"  class="btn btn-outline-dark" onclick="school_books();" value="submit" />


                </div>
          
            </div>

        </div>

    </div>
</div>




<!--  podar international     -->

<div class="modal fade" id="myModalpodar" role="dialog">
    <div class="modal-dialog modal-lg">

    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">select category</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <form name="form" id="form"  method="POST">
                <div>		
                    <select id="school_standard" name="standard">
                        <option value="hide">-- Standard --</option>
                        <option value="All" rel="icon-temperature">All</option>
                       
                        <option value="1st" rel="icon-temperature">1st</option>
                        <option value="2nd">2nd</option>
                        <option value="3rd">3rd</option>
                        <option value="4th">4th</option>
                        <option value="5th">5th</option>
                        <option value="6th">6th</option>
                        <option value="7th">7th</option>
                        <option value="8th">8th</option>
                        <option value="9th">9th</option>
                        <option value="10th">10th</option>
                        
                    </select>

                                
                    
                    <select id="school_pattern" name="pattern">
                        <option value="hide">-- Pattern --</option>
                        <option value="all" rel="icon-temperature">All</option>
                        <option value="MSBT">MSBT</option>
                        <option value="CBSC">CBSC</option>
                    </select> 

                    

                
                    <input type="hidden" id="field"  value="books_school" />
                    <input type="hidden" id="school" name="school" value="podar international school" />
                    <input type="button"  class="btn btn-outline-dark" onclick="school_books();" value="submit" />


                </div>
            </form>
            </div>

        </div>

    </div>
</div>





<!--  rdg school     -->

<div class="modal fade" id="myModalrdg" role="dialog">
    <div class="modal-dialog modal-lg">

    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">select category</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <form name="form" id="form"  method="POST">
                <div>		
                    <select id="school_standard" name="standard">
                        <option value="hide">-- Standard --</option>
                        <option value="All" rel="icon-temperature">All</option>
                       
                        <option value="1st" rel="icon-temperature">1st</option>
                        <option value="2nd">2nd</option>
                        <option value="3rd">3rd</option>
                        <option value="4th">4th</option>
                        <option value="5th">5th</option>
                        <option value="6th">6th</option>
                        <option value="7th">7th</option>
                        <option value="8th">8th</option>
                        <option value="9th">9th</option>
                        <option value="10th">10th</option>
                        
                    </select>

                                
                    
                    <select id="school_pattern" name="pattern">
                        <option value="hide">-- Pattern --</option>
                        <option value="all" rel="icon-temperature">All</option>
                        <option value="MSBT">MSBT</option>
                        <option value="CBSC">CBSC</option>
                    </select> 

                    

                
                    <input type="hidden" id="field"  value="books_school" />
                    <input type="hidden" id="school" name="school" value="rdg public school" />
                    <input type="button"  class="btn btn-outline-dark" onclick="school_books();" value="submit" />


                </div>
            </form>
            </div>

        </div>

    </div>
</div>







<!--  kothari convent     -->

<div class="modal fade" id="myModalkothari" role="dialog">
    <div class="modal-dialog modal-lg">

    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">select category</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <form name="form" id="form"  method="POST">
                <div>		
                    <select id="school_standard" name="standard">
                        <option value="hide">-- Standard --</option>
                        <option value="All" rel="icon-temperature">All</option>
                       
                        <option value="1st" rel="icon-temperature">1st</option>
                        <option value="2nd">2nd</option>
                        <option value="3rd">3rd</option>
                        <option value="4th">4th</option>
                        <option value="5th">5th</option>
                        <option value="6th">6th</option>
                        <option value="7th">7th</option>
                        <option value="8th">8th</option>
                        <option value="9th">9th</option>
                        <option value="10th">10th</option>
                        
                    </select>

                                
                    
                    <select id="school_pattern" name="pattern">
                        <option value="hide">-- Pattern --</option>
                        <option value="all" rel="icon-temperature">All</option>
                        <option value="MSBT">MSBT</option>
                        <option value="CBSC">CBSC</option>
                    </select> 

                    

                
                    <input type="hidden" id="field"  value="books_school" />
                    <input type="hidden" id="school" name="school" value="kothari convent" />
                    <input type="button"  class="btn btn-outline-dark" onclick="school_books();" value="submit" />


                </div>
            </form>
            </div>

        </div>

    </div>
</div>





<!--  holycross     -->

<div class="modal fade" id="myModalholycross" role="dialog">
    <div class="modal-dialog modal-lg">

    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">select category</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <form name="form" id="form"  method="POST">
                <div>		
                    <select id="school_standard" name="standard">
                        <option value="hide">-- Standard --</option>
                        <option value="All" rel="icon-temperature">All</option>
                       
                        <option value="1st" rel="icon-temperature">1st</option>
                        <option value="2nd">2nd</option>
                        <option value="3rd">3rd</option>
                        <option value="4th">4th</option>
                        <option value="5th">5th</option>
                        <option value="6th">6th</option>
                        <option value="7th">7th</option>
                        <option value="8th">8th</option>
                        <option value="9th">9th</option>
                        <option value="10th">10th</option>
                        
                    </select>

                                
                    
                    <select id="school_pattern" name="pattern">
                        <option value="hide">-- Pattern --</option>
                        <option value="all" rel="icon-temperature">All</option>
                        <option value="MSBT">MSBT</option>
                        <option value="CBSC">CBSC</option>
                    </select> 

                    

                
                    <input type="hidden" id="field"  value="books_school" />
                    <input type="hidden" id="school" name="school" value="holy cross" />
                    <input type="button"  class="btn btn-outline-dark" onclick="school_books();" value="submit" />


                </div>
            </form>
            </div>

        </div>

    </div>
</div>
		   
</body>


</html>