{% extends 'base.html' %}
{% load static %}
{% static 'images' as baseUrl %}
	
 {% block content %}
 <style>
 @import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

.mt-100 {
    margin-top: 100px
}

.mb-100 {
    margin-bottom: 100px
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0px
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.card .card-title {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px
}

.comment-widgets {
    position: relative;
    margin-bottom: 10px
}

.comment-widgets .comment-row {
    border-bottom: 1px solid transparent;
    padding: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0
}

.p-2 {
    padding: 0.5rem !important
}

.comment-text {
    padding-left: 15px
}

.w-100 {
    width: 100% !important
}

.m-b-15 {
    margin-bottom: 15px
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.76563rem;
    line-height: 1.5;
    border-radius: 1px
}

.btn-cyan {
    color: #fff;
    background-color: #27a9e3;
    border-color: #27a9e3
}

.btn-cyan:hover {
    color: #fff;
    background-color: #1a93ca;
    border-color: #198bbe
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.05)
}
</style>
 
        <!-- Start main Content -->
        
        <div class="maincontent bg--white pt--80 pb--55" style="margin-top:40px;">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-9 col-12">
					
                        {% for dest in dests %}
        				<div class="wn__single__product">
        					<div class="row">
        						<div class="col-lg-6 col-12">
        							<div class="wn__fotorama__wrapper">
	        							<div class="fotorama wn__fotorama__action" data-nav="thumbs">
		        							  <a href="1.jpg"><img src="{{ dest.bookfront_cover.url }}" alt=""></a>
		        							  <a href="2.jpg"><img src="{{ dest.bookback_cover.url }}" alt=""></a>
		        							  <a href="3.jpg"><img src="images/product/3.jpg" alt=""></a>
		        							  <a href="4.jpg"><img src="images/product/4.jpg" alt=""></a>
		        							  <a href="5.jpg"><img src="images/product/5.jpg" alt=""></a>
		        							  <a href="6.jpg"><img src="images/product/6.jpg" alt=""></a>
		        							  <a href="7.jpg"><img src="images/product/7.jpg" alt=""></a>
		        							  <a href="8.jpg"><img src="images/product/8.jpg" alt=""></a>

							   <!--     {% for  index in  index_page_count %}
		        							  <a href="1.jpg"><img src="images/product/1.jpg" alt=""></a>
		        					    {% endfor %}  -->


	        							</div>
        							</div>
        						</div>
        						<div class="col-lg-6 col-12">
        							<div class="product__info__main">
        								<h1>{{ dest.name }}</h1>
        								<div class="product-info-stock-sku d-flex">
        									<p>Availability:<span> In stock</span></p>
        									<p>SKU:<span> {{ dest.standard }} </span></p>
        								</div>
        								<div class="product-reviews-summary d-flex">
        									<ul class="rating-summary d-flex">
    											<li><i class="zmdi zmdi-star-outline"></i></li>
    											<li><i class="zmdi zmdi-star-outline"></i></li>
    											<li><i class="zmdi zmdi-star-outline"></i></li>
    											<li class="off"><i class="zmdi zmdi-star-outline"></i></li>
    											<li class="off"><i class="zmdi zmdi-star-outline"></i></li>
        									</ul>
        									<div class="reviews-actions d-flex">
        										<a href="#">(1 Review)</a>
        										<a href="#">Add Your Review</a>
        									</div>
        								</div>
        								<div class="price-box">
        									<span>{{ dest.price }} &#x20B9;</span>
        								</div>
        								<div class="product-color-label">
        									<span>Edition</span>
        									<div class="color__attribute d-flex">
        										<div class="swatch-option color" style="background: #000000 no-repeat center; background-size: initial;"></div>
        										<div class="swatch-option color" style="background: #8f8f8f no-repeat center; background-size: initial;"></div>
        									</div>
        								</div> 
        								<div class="box-tocart d-flex">
        									<span>Qty</span>
        									<input id="qty" class="input-text qty" name="quantity" min="1" value="1" title="Qty" type="number">
											
												<div class="addtocart__actions" >
												<form action="{% url 'user_cart_addproduct' %}" method="post">
												{% csrf_token %}
													<input id="prodId" name="bookid" type="hidden" value="{{ dest.id }}">
													<button class="tocart" type="submit" style="margin-bottom:20px;" title="Add to Cart">Add to Cart</button>
												</form>
												
												
												</div>
					
        								</div>			
        								<div class="product-addto-links clearfix">
        									<a class="wishlist" href="Wishlist_addproduct{{dest.id}}"></a>
        									<a class="compare" href="#"></a>
        									<a class="email" href="#"></a>
        								</div>
        								<div class="product__overview">
        									<p>Ideal for cold-weather training or work outdoors, the Chaz Hoodie promises superior warmth with every wear. Thick material blocks out the wind as ribbed cuffs and bottom band seal in body heat.</p>
        									<ul class="pro__attribute">
        										<li>• Two-tone gray heather hoodie.</li>
        										<li>• Drawstring-adjustable hood. </li>
        										<li>• Machine wash/dry.</li>
        									</ul>
        								</div>
        							</div>
        						</div>
        					</div>
        				</div>
						{% endfor %}

        				<div class="product__info__detailed">
							<div class="pro_details_nav nav justify-content-start" role="tablist">
	                            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-details" role="tab">Details</a>
	                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-review" role="tab">Reviews</a>
	                        </div>
	                        <div class="tab__container">
	                        	<!-- Start Single Tab Content -->
	                        	<div class="pro__tab_label tab-pane fade show active" id="nav-details" role="tabpanel">
									<div class="description__attribute">
										<p>Ideal for cold-weather training or work outdoors, the Chaz Hoodie promises superior warmth with every wear. Thick material blocks out the wind as ribbed cuffs and bottom band seal in body heat.Ideal for cold-weather training or work outdoors, the Chaz Hoodie promises superior warmth with every wear. Thick material blocks out the wind as ribbed cuffs and bottom band seal in body heat.Ideal for cold-weather training or work outdoors, the Chaz Hoodie promises superior warmth with every wear. Thick material blocks out the wind as ribbed cuffs and bottom band seal in body heat.Ideal for cold-weather training or work outdoors, the Chaz Hoodie promises superior warmth with every wear. Thick material blocks out the wind as ribbed cuffs and bottom band seal in body heat.</p>
										<ul>
											<li>• Two-tone gray heather hoodie.</li>
											<li>• Drawstring-adjustable hood. </li>
											<li>• Machine wash/dry.</li>
										</ul>
									</div>
	                        	</div>
	                        	<!-- End Single Tab Content -->
	                        	<!-- Start Single Tab Content -->
	                        	<div class="pro__tab_label tab-pane fade" id="nav-review" role="tabpanel">
									<div class="row d-flex justify-content-center mt-100 mb-100">
										<div class="col-lg-6">
											<div class="card">
												<div class="card-body text-center">
													<h4 class="card-title">Latest Comments</h4>
												</div>
												<div class="comment-widgets">
													<!-- Comment Row -->
													<div class="d-flex flex-row comment-row m-t-0">
														<div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg" alt="user" width="50" class="rounded-circle"></div>
														<div class="comment-text w-100">
															<h6 class="font-medium">James Thomas</h6> <span class="m-b-15 d-block">This is awesome website. I would love to comeback again. </span>
															<div class="comment-footer"> <span class="text-muted float-right">April 14, 2019</span> <button type="button" class="btn btn-cyan btn-sm">Edit</button> <button type="button" class="btn btn-success btn-sm">Publish</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
														</div>
													</div> <!-- Comment Row -->
													<div class="d-flex flex-row comment-row">
														<div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583319/AAA/3.jpg" alt="user" width="50" class="rounded-circle"></div>
														<div class="comment-text active w-100">
															<h6 class="font-medium">Michael Hussey</h6> <span class="m-b-15 d-block">Thanks bbbootstrap.com for providing such useful snippets. </span>
															<div class="comment-footer"> <span class="text-muted float-right">May 10, 2019</span> <button type="button" class="btn btn-cyan btn-sm">Edit</button> <button type="button" class="btn btn-success btn-sm">Publish</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
														</div>
													</div> <!-- Comment Row -->
													<div class="d-flex flex-row comment-row">
														<div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" alt="user" width="50" class="rounded-circle"></div>
														<div class="comment-text w-100">
															<h6 class="font-medium">Johnathan Doeting</h6> <span class="m-b-15 d-block">Great industry leaders are not the real heroes of stock market. </span>
															<div class="comment-footer"> <span class="text-muted float-right">August 1, 2019</span> <button type="button" class="btn btn-cyan btn-sm">Edit</button> <button type="button" class="btn btn-success btn-sm">Publish</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
														</div>
													</div>
												</div> <!-- Card -->
											</div>
										</div>
									</div>
									
	                        	</div>
	                        	<!-- End Single Tab Content -->
	                        </div>
        				</div>
						<div class="wn__related__product pt--80 pb--50">
							<div class="section__title text-center">
								<h2 class="title__be--2">Related Products</h2>
							</div>
							<div class="row mt--60">
								<div class="productcategory__slide--2 arrows_style owl-carousel owl-theme">

									{% for dest in dests_related %}

									<!-- Start Single Product -->
									<div class="col-lg-4 col-md-4 col-sm-6 col-12">
										<div class="product">
											<div class="product__thumb">
												<a class="first__img" href="{% url 'single-product' dest.id %}"><img src="{{ dest.bookfront_cover.url }}" alt="product image"></a>
												<a class="second__img animation1" href="{% url 'single-product' dest.id %}"><img src="{{ dest.bookback_cover.url }}" alt="product image"></a>
												<div class="new__box">
													<span class="new-label">New</span>
												</div>
												<ul class="prize position__right__bottom d-flex">
													<li>{{ dest.price }}</li>
													<li class="old_prize">$38.00</li>
												</ul>
												<div class="action">
													<div class="actions_inner">
														<ul class="add_to_links">
															<li><a class="cart" href="{% url 'user_cart_addproduct_byid' dest.id %}"></a></li>
															<li><a class="wishlist" href="{% url 'user_wishlist_addproduct' dest.id %}"></a></li>
															<li><a class="compare" href="compare.html"></a></li>
															<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal{{ dest.id }}"></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="product__content">
												<h4><a href="single-product.html">{{ dest.name }}</a></h4>
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									<!-- Start Single Product -->
									</div>

									{% endfor %}


								</div>
							</div>
						</div>
						<div class="wn__related__product">
							<div class="section__title text-center">
								<h2 class="title__be--2">upsell products</h2>
							</div>
							<div class="row mt--60">
								<div class="productcategory__slide--2 arrows_style owl-carousel owl-theme">
									<!-- Start Single Product -->
									<div class="col-lg-4 col-md-4 col-sm-6 col-12">
										<div class="product">
											<div class="product__thumb">
												<a class="first__img" href="single-product.html"><img src="images/product/2.jpg" alt="product image"></a>
												<a class="second__img animation1" href="single-product.html"><img src="images/product/1.jpg" alt="product image"></a>
												<div class="new__box">
													<span class="new-label">New</span>
												</div>
												<ul class="prize position__right__bottom d-flex">
													<li>$35.00</li>
													<li class="old_prize">$38.00</li>
												</ul>
												<div class="action">
													<div class="actions_inner">
														<ul class="add_to_links">
															<li><a class="cart" href=""></a></li>
															<li><a class="wishlist" href=""></a></li>
															<li><a class="compare" href="compare.html"></a></li>
															<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="product__content">
												<h4><a href="single-product.html">Crown Summit Backpack</a></h4>
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
									<!-- Start Single Product -->
									<!-- Start Single Product -->
								
								</div>
							</div>
						</div>
        			</div>
        			<div class="col-lg-3 col-12 md-mt-40 sm-mt-40">
        				<div class="shop__sidebar">
        					<aside class="wedget__categories poroduct--cat">
        						<h3 class="wedget__title">Product Categories</h3>
        						<ul>
        							<li><a href="{% url 'categorybooks' 'Biographic' %}">Biographysdsdsd <span>(3)</span></a></li>
        							<li><a href="{% url 'categorybooks' 'business' %}">Business <span>(4)</span></a></li>
        							<li><a href="{% url 'categorybooks' 'cookbooks' %}">Cookbooks <span>(6)</span></a></li>
        							<li><a href="{% url 'categorybooks' 'healthandfitness' %}">Health & Fitness <span>(7)</span></a></li>
        							<li><a href="{% url 'categorybooks' 'history' %}">History <span>(8)</span></a></li>
        							<li><a href="{% url 'categorybooks' 'mystery' %}">Mystery <span>(9)</span></a></li>
        							<li><a href="{% url 'categorybooks' 'inspiration' %}">Inspiration <span>(13)</span></a></li>
        							<li><a href="{% url 'categorybooks' 'romance' %}">Romance <span>(20)</span></a></li>
        							<li><a href="{% url 'categorybooks' 'FictionandFantasy' %}">Fiction & Fantasy <span>(22)</span></a></li>
        							<li><a href="{% url 'categorybooks' 'selfimprovement' %}">Self-Improvement <span>(13)</span></a></li>
        							<li><a href="{% url 'categorybooks' 'humorbooks' %}">Humor Books <span>(17)</span></a></li>
        							<li><a href="{% url 'categorybooks' 'harrypotter' %}">Harry Potter <span>(20)</span></a></li>
        							<li><a href="{% url 'categorybooks' 'landofstories' %}">Land of Stories <span>(34)</span></a></li>
        							<li><a href="{% url 'categorybooks' 'kidsmusic' %}">Kids Music <span>(60)</span></a></li>
        							<li><a href="{% url 'categorybooks' 'toysgames' %}">Toys & Games <span>(3)</span></a></li>
        						</ul>
        					</aside>
        					<aside class="wedget__categories pro--range">
        						<h3 class="wedget__title">Filter by price</h3>
        						<div class="content-shopby">
        						    <div class="price_filter s-filter clear">
        						        <form action="#" method="GET">
        						            <div id="slider-range"></div>
        						            <div class="slider__range--output">
        						                <div class="price__output--wrap">
        						                    <div class="price--output">
        						                        <span>Price :</span><input type="text" id="amount" readonly="">
        						                    </div>
        						                    <div class="price--filter">
        						                        <a href="#">Filter</a>
        						                    </div>
        						                </div>
        						            </div>
        						        </form>
        						    </div>
        						</div>
        					</aside>
        					<aside class="wedget__categories poroduct--compare">
        						<h3 class="wedget__title">Compare</h3>
        						<ul>
        							<li><a href="#">x</a><a href="#">Condimentum posuere</a></li>
        							<li><a href="#">x</a><a href="#">Condimentum posuere</a></li>
        							<li><a href="#">x</a><a href="#">Dignissim venenatis</a></li>
        						</ul>
        					</aside>
        					<aside class="wedget__categories poroduct--tag">
        						<h3 class="wedget__title">Product Tags</h3>
        						<ul>
        							<li><a href="#">Biography</a></li>
        							<li><a href="#">Business</a></li>
        							<li><a href="#">Cookbooks</a></li>
        							<li><a href="#">Health & Fitness</a></li>
        							<li><a href="#">History</a></li>
        							<li><a href="#">Mystery</a></li>
        							<li><a href="#">Inspiration</a></li>
        							<li><a href="#">Religion</a></li>
        							<li><a href="#">Fiction</a></li>
        							<li><a href="#">Fantasy</a></li>
        							<li><a href="#">Music</a></li>
        							<li><a href="#">Toys</a></li>
        							<li><a href="#">Hoodies</a></li>
        						</ul>
        					</aside>
        					<aside class="wedget__categories sidebar--banner">
								<img src="{% static 'images/others/banner_left.jpg' %}" alt="banner images">
								<div class="text">
									<h2>new products</h2>
									<h6>save up to <br> <strong>40%</strong>off</h6>
								</div>
        					</aside>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
        <!-- End main Content -->
		<!-- Start Search Popup -->
		<div class="box-search-content search_active block-bg close__top">
			<form id="search_mini_form--2" class="minisearch" action="#">
				<div class="field__search">
					<input type="text" placeholder="Search entire store here...">
					<div class="action">
						<a href="#"><i class="zmdi zmdi-search"></i></a>
					</div>
				</div>
			</form>
			<div class="close__wrap">
				<span>close</span>
			</div>
		</div>
		<!-- End Search Popup -->
		<!-- Start NEwsletter Area -->
		<section class="wn__newsletter__area bg-image--2">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 offset-lg-5 col-md-12 col-12 ptb--150">
						<div class="section__title text-center">
							<h2>Stay With Us</h2>
						</div>
						<div class="newsletter__block text-center">
							<p>Subscribe to our newsletters now and stay up-to-date with new collections, the latest lookbooks and exclusive offers.</p>
							<form action="#">
								<div class="newsletter__box">
									<input type="email" placeholder="Enter your e-mail">
									<button>Subscribe</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End NEwsletter Area -->
		<!-- Start Brand Area -->
		<div class="wn__brand__area bg__cat--1 ptb--80">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="brand__activation arrows_style owl-carousel owl-theme">
							<li><a href="#"><img src="images/brand/1.png" alt="brand images"></a></li>
							<li><a href="#"><img src="images/brand/2.png" alt="brand images"></a></li>
							<li><a href="#"><img src="images/brand/3.png" alt="brand images"></a></li>
							<li><a href="#"><img src="images/brand/4.png" alt="brand images"></a></li>
							<li><a href="#"><img src="images/brand/5.png" alt="brand images"></a></li>
							<li><a href="#"><img src="images/brand/6.png" alt="brand images"></a></li>
							<li><a href="#"><img src="images/brand/7.png" alt="brand images"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Brand Area -->
	
	{% endblock %}